*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container {
    width:80%;
    margin:auto;    
}
font
body{
    font-family: 'Varela Round', sans-serif;
}
.clear {
    clear:both;
}
h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: 'Varela Round' , sans-serif;
}
button{
    font-family: 'Varela Round', sans-serif;
}

.pd-y{
    padding: 120px 0;
}
.section-header{
    text-align: center;
    margin-bottom:20px;
}
.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.section-header .line{
    display: block;
    height:2px;
    width: 70px;
    margin: 0px auto 70px auto;
    background-color:blueviolet;

}
.header  {
    position:fixed;
    width:100%;
    z-index:10;
}
.header .logo {
    width:40% ;
    float: left;
}
.header .logo img{
    width: 20%;
    margin-top: 15px;

}
.header .nav {
    width:60% ;
    float: left;
    list-style:none;
    text-align:right;
}

.header .nav > li {
    display: inline-block;
    text-align: right;
}
.header .nav > li > a {
    color: whitesmoke;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 30px 15px;
     ;
}
.header .nav > li > a:after {
    content:"" ;
    display: block;
    width: 0;
    height: 2px;
    background-color:turquoise ;
    transition: width 0.5s
}
.header .nav > li > a.active:after {
    content:"" ;
    display: block;
    width: 100%;
    height: 2px;
    background-color:turquoise ;
    transition: width 0.5s
}
.header .nav > li > a:hover:after{
width: 100%;
}
.dropdown-menu{
    position: absolute;
    background-color:blueviolet;
    width: 150px;
    text-align: center;
    left: -50%;
    top: 70%;
    opacity:0 ;
    visibility: hidden;
    transition: opacity 0.5s , visibility 0.5s;
}
.dropdown{
    position: relative;
}
.dropdown-menu a {
    color:white;
    display: block;
    padding: 10px;
    text-decoration: none;

}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility:visible;
    
}
.home {
height:100vh;
background-image:url(../Imges/background/background1.webp);
background-size:cover;
position: relative;
}
.overlay{
position: absolute;
width:100%;
height:100%;
top:0;
left:0;
background-color:rgba(0,0,0,0.7);
}
.hover-opacity{
    transition: opacity 0.5s;
}
.hover-opacity:hover {
    opacity: 0.8;
}
.ltr-efffect{
    position: relative;
}
.ltr-efffect:after{
    position: absolute;
    content:"";
    width:0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #333;
    z-index:-1;
    transition: width 0.5s;

}
.ltr-efffect:hover:after{
    width: 100%;
}


.tb-efffect{
    position: relative;
}
.tb-efffect:after{
    position: absolute;
    content:"";
    width:100%;
    height: 0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #333;
    z-index:-1;
    transition: height 0.5s;

}
.tb-efffect:hover:after{
    height:100%;
}


.home-content{
    position:absolute;
    width:65%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
.home .title{
    color:white;
    font-size:3.1rem;
    text-transform:uppercase
}
.home-desc{
    margin:10px 0 ;
    color:white;
    letter-spacing:2px;
    line-height:1.5;
}

.home .btn{
    min-width: 160px;
    padding:15px 0 ;
    border-radius:5px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
}
.home .btn-start{
    margin-right:10px ;
    text-transform: capitalize;
    background-color: white;

}
.home .btn-learn{
    background-color: blueviolet ;
    text-transform: capitalize;
    color: white;
}
.about{

}
.about-content{
    overflow: hidden;

}
.about-item {
width:30%;
float: left;
text-align:center;
border: 1px solid #e8e8e8;
padding: 50px 20px;
}
.about-item:hover .about-item-title{
    color:white;
}
.about-item.mg{
 margin:0 5%;   
}
.about-item .icon{
   color: #6195ff;
    margin-bottom: 10px;

}
.about-item-title{
    text-transform: capitalize;
    margin-bottom:10px;
    transition: color 0.5s;
}
.about-item-desc{
    line-height: 1.6;
    margin-bottom:10px;
    color: #898989;
}
.about-item-link{
    color: #6195ff;
}

.protfolio {
    background: #f9f9f9;
}
.protfolio-content{
    overflow: hidden;
} 
.protfolio-item{
    width:32%;
    float:left;
    margin-bottom:25px;
    position: relative;
    padding:20px;
}
.protfolio-item .layer-content{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    opacity:0;
    visibility: hidden;
    transition:opacity 0.5s;
}
.protfolio-item:hover .layer-content{
opacity:1;
visibility:visible;
}
.layer-content .layer-info{
    position: absolute;
    left:50%;
    top:50%;
    width: 80%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.layer-content a{
    color: #efefef;
    position: relative;
    top: 10px;
    transition: top 0.5s , opacity 0.5s;
    transition-delay: 0.2s;
    opacity:0;
}
.layer-content a i{
    display: inline-block;
    width: 40px;
    height:40px;
    background-color: #6195ff;
    line-height: 40px;
    
}
.layer-content .category{
color: cyan;
text-transform: uppercase;
display: block;
margin-bottom:5px;
position: relative;
top:10px;
transition:top 0.5s ,opacity 0.5s;
transition-delay:0.2s;
opacity:0;
}
.layer-content-title{
font-size: 30px;
color: #e8e8e8;
margin-bottom:10px;
position: relative;
top:10px;
transition:top 0.5s, opacity 0.5s;
transition-delay:0.3s;
opacity:0;
}
.protfolio-item:hover .layer-content-title ,
.protfolio-item:hover .layer-content a,
.protfolio-item:hover .layer-content .category{
top:0;
opacity:1;
}
.protfolio-item.mg{
    margin:0 2%;
}
.protfolio-item img{
   width: 100%;
}

.offer{

}
 .offer-content{
overflow: hidden;
 }
 .offer-item{
     width: 30%;
     float: left;
     margin-bottom: 20px;
     border: 1px solid #e8e8e8;
     padding:30px 15px 30px 70px;
     position: relative;
 }
 .offer-item.mg{
     margin:0 5% ;
 }
 .offer-item .icon{
     position: absolute;
     left: 15px;
     top: 30px;
     color:#6195ff;
 }
 .offer-item-title{
     text-transform: capitalize;
     margin-bottom: 15px;
     transition:color 0.5s;
 
 }
 .offer-item-disc{
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #e8e8e8;
}
.offer-item:hover .offer-item-title{
    color:white ;
}
.service{
    background-color:#f9f9f9;

}
.service-item{
    width: 50%;
    float:left;

}
.service-item .section-header {
    text-align: left;

}
.service-item .section-header .line {
    margin: 0 0 40px 0;
}
.service-item-desc {
    padding-right:20px;
    color:#999;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom:20px;
}
.service-list{
    list-style: none;
    font-size: 17px;

}
.service-list li i{
    margin-bottom: 10px;
    color: #999;
}
.service-list li i{
    border: 1px solid #6195ff;
    color: #6195ff;
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius:50%;

}
.service-item-img img{
    width: 100%;
}
.service-bollets{
    list-style: none;
    text-align: center;
}
.service-bollets li{
    width: 10px;
    height: 10px;
    display:inline-block ;
    background-color: #e8e8e8;
    margin: 10px 5px;
    border-radius: 50%;


}
.service-bollets li.active{
    background-color: #6195ff;
}
.service-bollets li:hover {
    background-color: #6195ff;
}
.numbers{
        position: relative;
        background-image: url(../Imges/background/background2.webp);
        height:300px;
        background-attachment: fixed;
        background-size: cover;
}
.numbers-items{
    overflow: hidden;
    padding: 100px 0;
}
.number-item{
    width: 25%;
    float: left;
    text-align: center;

}
.number-item .icon{
    color: #6195ff;
    margin-bottom: 15px;
}

.number-item-title{
    font-weight: bold;
    font-size: 30px;
    color: #e8e8e8;
}
.number-item-text{
    color: #e8e8e8;
}

.price{

}

.pricing-plans{
   overflow: hidden;

}
.pricing-item{
    width: 30%;
    float: left;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;

}
.pricing-item.mg{
    margin: 0 5%;

}
.pricing-item-text{
    text-transform: uppercase;
    font-size: 17px;
    color: #999;
    transition: color 0.5s;
}
.pricing-item-permonth{
     width: 130px;
     height: 130px;
     transition: color 0.5s;
     padding: 20px 0;
     margin: 20px auto;
     border: 2px solid #6195ff;
     border-radius:50%;

}

.pricing-item-permonth .doller {
     font-size: 50px;

}
.pricing-item-permonth .month {
text-transform: uppercase;
font-weight: bold;
font-size: 15px;
}
.pricing-list{
    list-style:none; 
}

.pricing-list li {
   color: #999;
   line-height:1.8;
     
}

.pricing-item-purchase{
   background: none;
   border:0;
   display: block;
   width: 140px;
   border: 2px solid #6195ff;
   padding: 10px;
   margin: 15px auto 0 auto ;
   color: #6195ff;


}

.pricing-item:hover .pricing-item-permonth{
    color: #fff;


}

.pricing-item:hover .pricing-item-text{
    color: #6195ff;
}


.testimonial {
    position: relative;
    background-image:url(../Imges/background/background3.webp);
    background-attachment: fixed;
    height: 400px;

}
.testimonial-content {
    overflow:hidden;
    padding: 120px 0;
    width: 80%;
    margin: auto;
}
.testimonial-item{
    width: 50%;
    float: left;
    color: #fff;

}
.testimonial-item .testimonial-toplayer{
   padding:10px 2px 40px 100px;
   position: relative;

}
.testimonial-item .testimonial-toplayer img{
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;

}
.testimonial-item .testimonial-toplayer h2{
    margin-bottom: 5px 0;

}
.testimonial-item .testimonial-toplayer span{
    color: #6195ff;
}
.testmonial-desc{
    line-height: 1.5;
    font-size: 17px;
    padding-left:10px;
}

.team{


}
.team-content{
    overflow: hidden;
}
.team-item{
    width: 30%;
    float: left;
    background: #e8e8e8;
    padding: 40px 10px;
    text-align: center;
}

.team-item.mg{
    margin: 0 5%;
}    

.team-item .team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0,0,0,0.5) ;
    opacity:0;
    visibility: hidden;
}

.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background: #7ba7ff;
    color: #fff;
    margin-left: auto;
}
.team-overlay a i{
    line-height: 40px;

}
.team-item .team-img img{
    width: 100%;
    margin: auto;
}

.team-item .team-info-title{
    color: #222;
    margin: 10px 0;
    transition: color 0.5s;
}
.team-item .team-info-text{
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.5s;
}

.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;
}
.team-item.tb-efffect{
    z-index: 1;
} 
.team-item:hover .team-info-text{
    color: #6195ff;
}
.team-item:hover .team-info-title{
    color: #fff;
}

.blog{
background: #f8f8f8;
}

.blog-content{
    overflow: hidden;
}

.blog-item{
    width: 30%;
    float: left;
    background-color: #fff;
}
.blog-item.mg{
    margin:0 5%;
}
.blog-img img{
    width: 100%;
}
.blog.info{
    padding: 20px;
}
.blog-list{
    list-style: none;
    margin: 10px 0;

}
.blog-list li{
    display: inline-block;
    margin:0 5px; 
}
.blog-list li i{
    color: #6195ff;
}
.blog-title{
    font-weight: bold;
    margin: 20px 0;
}
.blog-desc{
    color: #999;
    margin-bottom: 10px;
    line-height: 1.5;
}
.blog-link{
    color: #6195ff;
}

.contact-item {
    width: 30%;
    float: left;
    text-align: center;
    margin-left: 20px;
}
.contact-item i{
 color: #6195ff;
font-size: 50px;
margin:10 10px ;
}
.contact-item-text {
    margin: 10px 0;
    text-transform: capitalize;
    font-size: 17px;
}
.contact-item-desc{
    font-size: 17px;
    color: #999;
}
.contact-form {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.contact-item-input.input1 {
    width: 49%;
    float: left;
}
.contact-item-input, .contact-item-subject, .contact-item-msg {
    border: none;
    border-bottom: 2px solid #eee;
    background-color: #898989;
    padding: 10px;
}
.contact-item-input.input2 {
    float: right;
    width: 49%;
}
.contact-item-subject {
    width: 100%;
    display: inline-block;
    margin: 20px 0;
}
.contact-form .contact-item-msg {
    min-width: 100%;
    height: 100px;
    font-size: 18px;
    display: inline-block;
}
.contact-item-input, .contact-item-subject, .contact-item-msg {
    border: none;
    border-bottom: 2px solid #eee;
    background-color:#e8e8e8 ;
    padding: 10px;
}
.contact-btn {
    padding: 15px 0;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    display: inline-block;
    width: 180px;
    color: var(--whiteColor);
    font-size: 16px;
    background-color:#6195ff;
    cursor: pointer;
}

.footer{
    background: #1c1d1c;
    text-align: center;
    padding: 60px;
}
.footer-links{
    list-style: none;
    margin: 20px 0;
}

.footer-links li{
    display: inline-block;
    
}

.footer-links li a{
    display: block;
    width: 50px;
    height: 50px;
    background: #6195ff;
    color: #fff;
    margin: 0 5px;
    border-radius: 50%;
}
.footer-links li a i {
    line-height: 50px;

}
.footer p{
    color: #999;
    font-size: 14px;
    text-transform: uppercase;


}

